*{
    transition: all .3s ease;
}


body{
    margin: 0;padding: 0;
    font-family: "Bahnschrift",sans-serif;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
}
section{
    margin-top: 30px;
}
.container{
    margin: 0px auto;
    position: relative;
}
.slider{
    margin: 0px auto;
}
.news{
    width: 79%;
    overflow: hidden;
}
.tags{
    display: flex;
    width: max-content;
}
a{
    text-decoration: none;
    font-weight: 400;
    color: #78878c;
    border: 2px solid #7c8692;
    border-top-left-radius: 17px;
    border-bottom-right-radius: 17px;
    padding: 14px 23px;
    font-size: 19px;
    margin-right: 22px;
    overflow: hidden;
    transition: .5s;
    display: block;
}
.tags a::after{
    content: "";
    height: 130%;
    width: 200%;
    left: -50%;
    top: 50px;
    background: white;
    transition: .4s ease-in;
    position: relative;
    display: block;
    right: 0;
}
.tags a:hover{
    background: #7c8692;
    color: white;
}
.tags a:hover::after{
    top: -70px;
}
.slider{
    margin-top: 54px;
}
.slider .slider_item {
    width: 600px;
    cursor: pointer;
    margin-right: 50px;
}
.slider .slider_item .pic{
    width: 100%;
    height: 370px;
    position: relative;
    overflow: hidden;
}
.slider .slider_item .pic img{
    height: 100%;
    width: 100%;
    transform: scale(1.0);
}
.slider .slider_item:hover img{
    transform: scale(1.05);   
}
.slider .slider_item a{
    position: absolute;
    bottom: 0;
    border-top-left-radius: 17px;
    border-bottom-right-radius:17px;
    font-size: 19px;
    padding:  14px 23px;
    background: #27333f;
    border: 0px;
    color: #f3f6fb;
}
.slider .slider_item:hover a{
    color: #27333f;
    background: #f3f6fb;
}
.slider .slider_item h4{
    text-transform: none;
    font-size: 28px;
    margin-left: 20px;
    margin-top: 40px;
}
.about_news{
    margin-top: 35px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    position: relative;
    color: #adb6bf;
}
.about_news p{
    margin: 0;
    height: 20px;
    position: absolute;
    right: 0;
}
.about_news p::after{
    background: url("../img/eyse.png") no-repeat center center /contain;
    opacity: .3;
    width: 20px;
    height: 15px;
    position: relative;
    left: -30px;
    content: "";
    display: block;
    top: -17px;
}

.slick-list{
    overflow: hidden;
}
.slick-track{
    display: flex;
}
.slider .slick-arrow{
    position: absolute;
    font-size: 0;
    height: 20px;
    width: 25px;
    background: url(../img/arrow.png) center / contain no-repeat;
    cursor: pointer;
    border: 0;
    top: 3.2%;
    z-index: 4;
}
.slider .slick-prev{
    right: 230px;
}
.slider .slick-next{
    right: 50px;
    transform: scale(-1);
}
.slider .slick-dots{
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 2.5%;
    right: 90px;
}
.slider li.slick-active button{
    background: #22303d !important;
    filter: saturate(100%) !important;
}
.slider .slick-dots li{
    list-style: none;
    margin: 0px 15px;
}
.slider .slick-dots button{
    font-size: 0;
    cursor: pointer;
    width: 10px;
    height: 10px;
    background: #6e8595;
    filter: saturate(0%);
    border: 0px;
    border-radius: 35px;
}

@media screen and (max-width:1400px){
    .slider .slider_item .pic{
        height: 320px;
    }
}
@media screen and (max-width:1220px){
    .slider .slider_item .pic{
        height: 270px;
    }
    .slider .slider_item a {
        font-size: 17px;
    }
    .news{
        width: 77%;
    }
}
@media screen and (max-width:1130px){
    .news{
        width: 72%;
    }
}

@media screen and (max-width:930px){
    .news{
        width: 66%;
    }
}
@media screen and (max-width:760px){
    .slider .slider_item .pic {
        height: 300px;
    }
    .news,.slick-arrow{
        display: none !important;
    }
    .slick-list{
        overflow-x: scroll;
    }
    .slick-list::-webkit-scrollbar {
        width: 90%;
        height: 50px;     
    }
      
    .slick-list::-webkit-scrollbar-track {
        background: #f8f8f8;
    }
      
    .slick-list::-webkit-scrollbar-thumb {
        width: 140px;
        height: 30px;
        margin: auto 0px;
        background-color: #d2d7dd;    /* color of the scroll thumb */
        border-radius: 40px;       /* roundness of the scroll thumb */
        border:0;  /* creates padding around scroll thumb */
      }
}